
<br/><div class="card" style="width: 30rem;">
  <div class="card-body">
    <h5 class="card-title display-4">
      <%= @friend.first_name %> <%= @friend.last_name %>
    </h5>
    <p class="card-text lead">
      <%= @friend.email %> | 
      <%= @friend.phone %> |  
      <%= @friend.twitter %>
    </p>
    <br/>
      <%= link_to 'Edit', edit_friend_path(@friend), class: "btn btn-secondary btn-lg" %>

      <hr/> 

      <%= button_to 'Delete', @friend, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-danger btn-lg" %>
      <hr/>
      <%= link_to 'Back', friends_path, class: "btn btn-dark btn-lg" %>

  </div>
</div>
